---
import ColorGrid from "@/components/playground/ColorGrid";
import PlaygroundLayout from "@/layouts/PlaygroundLayout.astro";
---

<PlaygroundLayout title="Color Grid Playground">
  <div class="w-full h-full overflow-hidden grid place-items-center">
    <ColorGrid client:load />
  </div>
</PlaygroundLayout>
