---
import PlaygroundLayout from '@/layouts/PlaygroundLayout.astro';
---

<PlaygroundLayout title="Playground List">
	<main class="container mx-auto p-4">
		<h1 class="text-xl font-bold mb-10 text-center">Playground Pages</h1>
		<ul class="space-y-6 max-w-md mx-auto">
			<li>
				<a href="/playground/grid" class="text-blue-600 hover:underline">Grid Page</a>
			</li>
			<li>
				<a href="/playground/shadcn-ui" class="text-blue-600 hover:underline">Shadcn UI Page</a>
			</li>
			<li>
				<a href="/playground/leaflet-map" class="text-blue-600 hover:underline">Leaflet Map</a>
			</li>
			<li>
				<a href="/playground/openfreemap" class="text-blue-600 hover:underline">OpenFreeMap + MapLibre GL JS</a>
			</li>
			<li>
				<a href="/playground/flashlight" class="text-blue-600 hover:underline">Flashlight Effect</a>
			</li>
			<li>
				<a href="/playground/curtains-opening" class="text-blue-600 hover:underline">Curtains Opening</a>
			</li>
			<li>
				<a href="/playground/highlighting-search-results" class="text-blue-600 hover:underline">Highlighting Search Results</a>
			</li>
			<li>
				<a href="/playground/fadein-text" class="text-blue-600 hover:underline">Fade In Text</a>
			</li>
			<li>
				<a href="/playground/animated-text" class="text-blue-600 hover:underline">Animated Text</a>
			</li>
		</ul>
	</main>
</PlaygroundLayout>
