---
import PlaygroundLayout from '@/layouts/PlaygroundLayout.astro';
import InfiniteSlider from '@/components/playground/InfiniteSlider'
---

<PlaygroundLayout title="Infinite Post Slider">
  <div class="w-full h-full overflow-hidden">
    <InfiniteSlider client:load />
  </div>
</PlaygroundLayout>
