---
import PlaygroundLayout from '@/layouts/PlaygroundLayout.astro';

import { Button } from "@/components/ui/button"
import { ModeToggle } from '@/components/shadcn-ui-demo/ModeToggle'
import { CalendarDemo } from "@/components/shadcn-ui-demo/CalendarDemo"
import { AlertDialogDemo } from "@/components/shadcn-ui-demo/AlertDialogDemo"
import { SelectDemo } from "@/components/shadcn-ui-demo/SelectDemo"
import { CheckboxDemo } from "@/components/shadcn-ui-demo/CheckboxDemo"
import { RadioGroupDemo } from "@/components/shadcn-ui-demo/RadioGroupDemo"
import { TableDemo } from "@/components/shadcn-ui-demo/TableDemo"
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<PlaygroundLayout title="Shadcn UI Playground">
	<header class="px-4 flex justify-between items-center border-b h-[54px] sticky top-0 z-10 bg-white dark:bg-slate-950">
		<h1 class="text-lg font-bold text-slate-900 dark:text-white">Astro with shadcn/ui components</h1>
		<ModeToggle client:load />
	</header>

	<main class="flex flex-col gap-6 px-4 py-4">
		<div class="flex gap-2 mt-5">
			<Button>Click Me</Button>
			<Button variant='outline'>Click Me</Button>
			<Button variant='custom'>Click Me</Button>
			<Button variant='secondary'>Click Me</Button>
			<Button variant='danger'>Click Me</Button>
			<Button variant='ghost'>Click Me</Button>
		</div>
		
		<CalendarDemo client:load />

		<div class="max-w-32">
			<AlertDialogDemo client:load />
		</div>

		<SelectDemo client:load />

		<RadioGroupDemo client:load />

		<CheckboxDemo client:load />

		<div class="w-[500px]" >
			<TableDemo />
		</div>
	</main>
</PlaygroundLayout>