---
import '@/tw-styles/globals.css'
import { Button } from "@/shadcn-components/ui/button"
---

<html lang="en">
	<head>
		<title>Shadcn UI</title>
	</head>
	<body class="p-4">
		<Button>Click Me</Button>
	</body>
</html>

