---
import '@/tw-styles/globals.css'
import { Button } from "@/components/ui/button"

import { CalendarDemo } from "@/components/shadcn-ui-demo/CalendarDemo"
import { AlertDialogDemo } from "@/components/shadcn-ui-demo/AlertDialogDemo"
---

<html lang="en" class="p-2">
	<head>
		<title>Shadcn UI</title>
	</head>
	<body>
		<Button>Click Me</Button>

		<div class="mt-5">
			<CalendarDemo client:load />
		</div>
		<div class="mt-5">
			<AlertDialogDemo client:load />
		</div>
	</body>
</html>

