---
import '@/tw-styles/globals.css'
import { Button } from "@/components/ui/button"

import { CalendarDemo } from "@/components/shadcn-ui-demo/CalendarDemo"
import { AlertDialogDemo } from "@/components/shadcn-ui-demo/AlertDialogDemo"
import { TableDemo } from "@/components/shadcn-ui-demo/TableDemo"
---

<html lang="en" class="p-2">
	<head>
		<title>Shadcn UI</title>
	</head>
	<body>
		<div class="flex gap-2">
			<Button>Click Me</Button>
			<Button variant='outline'>Click Me</Button>
			<Button variant='custom'>Click Me</Button>
			<Button variant='secondary'>Click Me</Button>
			<Button variant='danger'>Click Me</Button>
			<Button variant='ghost'>Click Me</Button>
		</div>

		<div class="mt-4">
			<CalendarDemo client:load />
		</div>
		<div class="mt-4">
			<AlertDialogDemo client:load />
		</div>
		<div class="mt-4 w-[500px]" >
			<TableDemo />
		</div>
	</body>
</html>

