---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from './ThemeToggle.astro';
import { SITE_TITLE, SITE_TITLE_MOBILE } from "../config";
---

<header>
	<div class="header-section">
		<div>
			<h1>{SITE_TITLE}</h1>
			<h2 class="header-subtitle">blog/notes/digital garden</h2>
		</div>
		<div>
			<img src="https://tva1.sinaimg.cn/large/008vxvgGly1h72jul7ihpj3076076aac.jpg" alt="一切都在成长中" width="129">
		</div>
	</div>
	<div class="short-header-section">
		<h1>{SITE_TITLE_MOBILE}</h1>
	</div>
	<nav>
		<HeaderLink class="header-link" href="/">Home</HeaderLink>
		<HeaderLink class="header-link" href="/posts">Posts</HeaderLink>
		<HeaderLink class="header-link" href="https://github.com/kexiZeroing" target="_blank">Github</HeaderLink>
		<HeaderLink class="header-link" href="https://twitter.com/kdang2020" target="_blank">Twitter</HeaderLink>
		<HeaderLink class="header-link" href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzAxMzE0NDY4MA==&action=getalbum&album_id=2135671686573129731&scene=173&from_msgid=2247484452&from_itemidx=1&count=3&nolastread=1#wechat_redirect" target="_blank">Newsletter</HeaderLink>
		<HeaderLink class="header-link" href="https://registry.jsonresume.org/kexiZeroing" target="_blank">Resume</HeaderLink>
		<ThemeToggle />
	</nav>
</header>
<style>
	header {
		margin-bottom: 1.5em;
	}
	.header-section {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.header-section .header-subtitle {
		margin: 0.5em 0;
		color: var(--gray);
	}
	.short-header-section {
		padding-left: 16px;
		margin-bottom: -1.5em;
		font-size: 0.7em;
		font-style: italic;
		display: none;
	}
	nav {
		margin: 1.5em 0 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	a.header-link {
		margin: 10px 14px;
		line-height: 1.1;
	}
	@media only screen and (max-width:600px)  {
		.header-section {
			display: none;
		}
		.short-header-section {
			display: block;
		}
	}
</style>
