---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>a blog, or whatever</h2>
		</div>
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/posts">Posts</HeaderLink>
		<HeaderLink href="" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzAxMzE0NDY4MA==&action=getalbum&album_id=2135671686573129731&scene=173&from_msgid=2247484452&from_itemidx=1&count=3&nolastread=1#wechat_redirect" target="_blank">Newsletter</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
