---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from './ThemeToggle.astro';
import { SITE_TITLE, SITE_TITLE_MOBILE } from "../config";

const isMobile = /Android|webOS|iPhone|iPad/i.test(Astro.request.headers.get('user-agent') ?? '')
---

<header>
	<div class="header-section">
		<div>
			<h1>{SITE_TITLE}</h1>
			<h2 class="header-subtitle">blog/notes/digital garden</h2>
		</div>
		<div>
			<img src="https://raw.gitmirror.com/kexiZeroing/blog-images/main/008vxvgGly1h72jul7ihpj3076076aac.jpg" alt="一切都在成长中" width="129">
		</div>
	</div>
	<div class="short-header-section">
		<h1>{SITE_TITLE_MOBILE}</h1>
	</div>
	<nav>
		<HeaderLink class="header-link" href="/">Home</HeaderLink>
		<HeaderLink class="header-link" href="/posts">Posts</HeaderLink>
		<HeaderLink class="header-link" href="https://github.com/kexiZeroing" target="_blank">Github</HeaderLink>
		<HeaderLink class="header-link" href="https://twitter.com/kdang2020" target="_blank">Twitter</HeaderLink>
		{ isMobile ? <HeaderLink class="header-link" href="https://registry.jsonresume.org/kexiZeroing" target="_blank">Resume</HeaderLink>
			: <HeaderLink class="header-link" href="/resume">Resume</HeaderLink> }
		<ThemeToggle />

		{	import.meta.env.PROD &&
			// Search only available in production
			<link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
			<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
			<div id="search" class="search-box"></div>
			<script>
				window.addEventListener('DOMContentLoaded', () => {
					// https://github.com/FriendlyUser/astro-tech-blog/issues/70
					// @ts-ignore
					new PagefindUI({
						element: '#search',
						// https://pagefind.app/docs/ui/#pagefindui-options
						showImages: false,
					});
				});
			</script>
		}
	</nav>
</header>
<style>
	header {
		margin-bottom: 1.5em;
	}
	.header-section {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.header-section .header-subtitle {
		margin: 0.5em 0;
		color: var(--gray);
	}
	.short-header-section {
		padding-left: 16px;
		margin-bottom: -1.5em;
		font-size: 0.7em;
		font-style: italic;
		display: none;
	}
	nav {
		margin: 1.5em 0 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	a.header-link {
		margin: 10px 14px;
		line-height: 1.1;
	}
	.search-box {
		margin-left: 32px;
	}
	
	@media only screen and (max-width:600px)  {
		.header-section {
			display: none;
		}
		.short-header-section {
			display: block;
		}
		nav {
			justify-content: flex-start;
		}
		.search-box {
			margin-left: 12px;
		}
	}
</style>
