---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;
const isActive = href === Astro.url.pathname || href === `${Astro.url.pathname}/`;

---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		font-size: 18px;
		color: var(--blue);
		font-weight: 500;
	}
	a.active, a:hover {
		font-weight: bold;
		font-style: italic;
		text-decoration: underline;
	}
</style>
