---
// js here
---

<a
  class="rotation-circle"
  id="rotation-circle"
  onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
>
  <svg width="40" height="40" viewBox="0 0 24 24">
    <path d="M21,9H15V22H13V16H11V22H9V9H3V7H21M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6C10.89,6 10,5.1 10,4C10,2.89 10.89,2 12,2Z" />
  </svg>
</a>
<style>
.rotation-circle {
  position: fixed;
  bottom: 3%;
  right: 5%;
  cursor: pointer;
}

svg {
  display: inline-block;
  animation: rotate 1s linear infinite;
  border: 1px solid #666;
  border-radius: 50%;
  fill: #666;

  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
</style>

<script is:inline>
window.addEventListener(
  "scroll",
  () => {
    document.body.style.setProperty(
      "--scroll",
      window.pageYOffset / (document.body.offsetHeight - window.innerHeight),
    );
  },
  false,
);
</script>
