/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 :root {
  --white: #fff;
  --black: #000;
  --gray: #8b8b8b;
  --highlight: #e5ffc3;
  --quote: #e1f4ff;
  --red: #e4002b;
  --green: #24d05a;
  --pink: #eb4888;
  --blue: #10a2f5;
  --yellow: #e9bc3f;
}

::selection {
  background-color: var(--highlight);
  color: var(--black);
}
body {
  font-family: 'Roboto Mono', monospace;
  margin: auto;
  padding: 20px;
  max-width: 65vw;
  box-sizing: border-box;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.8;
  color: var(--black);

  background-image: linear-gradient(#eeece9 1.1px, transparent 1.1px), linear-gradient(to right,#eeece9 1.1px, #fdfdfc 1.1px);
  background-size: 22px 22px;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
main {
  flex: 1;
  padding-bottom: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--black);
}
a {
  color: var(--pink);
}

nav {
  text-align: center;
}
nav a {
  margin: 25px 0;
}
nav a:not(:last-child) {
  padding: 0 12px 0 0;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  background: var(--quote);
  color: var(--black);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  font-weight: 400;
  margin: 1em 0 0.5em 0;
}

ul li time {
  flex: 0 0 130px;
  font-style: italic;
  color: var(--gray);
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header-subtitle {
  color: var(--gray);
}

.post-item {
  margin: 1em 0;
}
.top-tag {
  border: 1px solid #f08217;
  color: #f08217;
  font-size: 13px;
  padding: 1px 4px;
  border-radius: 4px;
  font-style: italic;
}