/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 :root {
  --white: #fff;
  --black: #000;
  --gray: #8b8b8b;
  --highlight: #e5ffc3;
  --quote: #bfe7ff;
  --red: #e4002b;
  --green: #24d05a;
  --pink: #eb4888;
  --blue: #10a2f5;
  --yellow: #e9bc3f;
  --orange: #f08217;
  --font-family-index: 'Roboto Mono', monospace;
  --font-family-post: Segoe UI,system-ui,-apple-system,sans-serif;
  --background-color: #fff;
  --heading-color: #000;
  --text-color: #000;
  --code-bg: #ececec;
  --quote-code-bg: #f2f2f2;
}

html.theme-dark {
  --background-color: rgb(47, 55, 65);
  --heading-color: #eee;
  --text-color: #ddd;
  --code-bg: #727272;
  --quote-code-bg: #e0e0e0;
}

::selection {
  color: #2a407e;
  background-color: #f5e326;
}

#sun-svg,
.theme-dark #moon-svg {
  display: none;
}
#moon-svg,
.theme-dark #sun-svg {
  display: block;
}

body {
  font-family: var(--font-family-index);
  margin: auto;
  padding: 20px 10px;
  box-sizing: border-box;
  background: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.8;
  color: var(--text-color);

  background-image: linear-gradient(#eee 1.1px, transparent 1.1px), linear-gradient(to right,#eee 1.1px, #fdfdfc 1.1px);
  background-size: 22px 22px;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
.theme-dark body{
  background-image: none;
}

main {
  flex: 1;
  padding-bottom: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--heading-color);
}
article {
  font-family: var(--font-family-post);
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: var(--code-bg);
  font-size: 14px;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
  font-size: 14px;
}
blockquote {
  background: var(--quote);
  color: var(--black);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
blockquote code {
  background-color: var(--quote-code-bg);
}
button {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
}
h1 {
  font-weight: bold;
  margin: 0;
}
h2 {
  margin: 1em 0 0.5em 0;
}

@media only screen and (min-width:600px)  {
  html {
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
  }
  html.theme-dark {
    background-color: #130F40;
    background-image: linear-gradient(180deg, #000 25%, #130F40 100%);
  }
  body {
    max-width: 67vw;
    padding: 20px;
  }
}
